<div class="form-group">
    <label for="title">Name</label>
    <input type="text" class="form-control" id="title"
           name="title" aria-describedby="Title"
           placeholder="Title"
           value="{{.task.Title}}"
    />
</div>
<div class="form-group">
    <label for="description">Name</label>
    <input type="text" class="form-control" id="description"
           name="description" aria-describedby="Description"
           placeholder="Description"
           value="{{.task.Description}}"/>
</div>
<br>
<button type="submit" class="btn btn-primary">Save</button>
<a href='{{urlfor "Tasks.Index"}}'>
    <button type="button" class="btn btn-primary">Cancel</button>
</a>